<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GUNZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>
    <header id="banner">
      <img id="bannerImg" src="http://placehold.it/400x100">
    </header>
    <header id="topBar">
      <nav>
        <i class="fas fa-bars bars"></i>
        <menu>
          <ul>
  					<li>Brands</li>
            <li>Firearm types</li>
  					<li>Ammunition</li>
  				</ul>
        </menu>
      </nav>
      <img id="smallLogo" src="http://placehold.it/200x70">
      <a href="#">
				<aside id="toTop">
					<i class="fas fa-chevron-up upArrow"></i>
					<i class="fas fa-chevron-up upArrow2"></i>
					<i class="fas fa-chevron-up upArrow3"></i>
				</aside>
			</a>
    </header>
    <content>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>
      asdadklansdnfasldfnasldfnakjdnfaskdfn<br>

    </content>
  </body>
</html>
